# PORT=80

DB_NAME=name
DB_USER=user
DB_PASSWORD=pass
DB_HOST=host
DB_PORT=0000

NOTIFICATIONS_SERVICE_URL=https://example.com
CHAT_SERVER_SERVICE_URL=https://example.com

S3_ID=YCAJE_VYoTQJZxXMJDLH2GO6x
S3_KEY=YCPGpzueH4m4uQm9qgwlLWYhj7gbI0QTHGGPcMYT

YANDEX_DB_CERT_PATH="path-to-cert"
# Если сертификат локлаьно (поменять путь на свой)
#YANDEX_DB_CERT_PATH="/Users/runtfint/.postgresql/root.crt"

# Если локально запускать в докере (просто оставить так)
# YANDEX_DB_CERT_PATH="/root/.postgresql/root.crt"

SECRET_KEY=keykey1234567890

TINKOFF_CASHIER_URL=https://example.com
TINKOFF_TERMINAL_KEY="keykey1234567890"
TINKOFF_TERMINAL_PASS="passpass1234567890"
PAYMENT_RETURN_URL="https://example.com"